<!DOCTYPE html>

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    p {
        font-size: larger;
        color: aliceblue;
        margin: 1%;
    }

    button {
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
        margin: 1%;
    }

    div {
        background-color: lightblue;
    }
</style>

<div class="center-screen" id="maindiv">
    <form method="/POST">
        {% if content %}
            
            <script>
                let markers = "{{ content }}";
                let index = "{{ index }}";
                let breaks = [];
                let newbreaks = [];

                let text = "";
                let lat = "";
                let long = "";

                let result = markers.indexOf(index) - 1;
                
                console.log(markers);
                console.log(index);

                let done = false;
                let i = result;

                while(!done){
                    i++;

                    if(markers.charAt(i) == "|"){
                        breaks.push(i);
                    }

                    else if(markers.charAt(i) == "/"){
                        newbreaks.push(i);
                    }

                    if(breaks.length == 2){
                        console.log("c1");
                        text = markers.substring(breaks[0], breaks[1]);
                    }

                    if(breaks.length == 3){
                        console.log("c2");
                        lat = markers.substring(breaks[1] + 1, breaks[2]);

                        if(newbreaks.length > 0){
                            console.log("c3");
                            long = markers.substring(breaks[2] + 1, newbreaks[0]);
                        }

                        else{
                            console.log("c4");
                            long = markers.substring(breaks[2] + 1, markers.length - 1);
                        }
                    }

                    if(text != "" && lat != "" && long != ""){
                        done = true;
                    }
                }

                text = markers.substring(breaks[0] + 1, breaks[1]);
                lat = markers.substring(breaks[1], breaks[2]);
                long = markers.substring(breaks[2], newbreaks[0]);

                const textpara = document.createElement("p");
                const latpara = document.createElement("p");
                const longpara = document.createElement("p");

                textpara.innerHTML = text;
                latpara.innerHTML = lat;
                longpara.innerHTML = long;

                document.getElementById("maindiv").appendChild(textpara);
                document.getElementById("maindiv").appendChild(latpara);
                document.getElementById("maindiv").appendChild(longpara);
            </script>

        {% endif %}
    </form>
</div>