<!DOCTYPE html>

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    p {
        font-size: larger;
        color: aliceblue;
        margin: 1%;
    }

    button {
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
        margin: 1%;
    }

    div {
        background-color: lightblue;
    }
</style>

<div class="center-screen">
    <p>wow</p>
</div>