<!DOCTYPE html>

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    button {
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
        margin: 1%;
    }

    label {
        margin: 1%;
    }

    div {
        background-color: lightblue;
    }
</style>

<div class="center-screen">
    <label for="text">Text:</label>
    <input type="text" id="text" name="text"><br><br>

    <label for="city">City:</label>
    <input type="text" id="city" name="city"><br><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country"><br><br>

    <button type="button">Post</button>
</div>