<!DOCTYPE html>

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    button {
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
        margin: 1%;
    }

    label {
        margin: 1%;
    }

    div {
        background-color: lightblue;
    }
</style>

<script>
    function makePost() {
        text = document.getElementById("text").value;
        lat = parseInt(document.getElementById("latitude").value);
        long = parseInt(document.getElementById("longitude").value);

        message = text + "|" + lat + "|" + long;
        alert(message);
    }
</script>

<div class="center-screen">
    <label for="text">Text:</label>
    <input type="text" id="text" name="text"><br><br>

    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude"><br><br>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude"><br><br>

    <button type="button" action="writetomarkers/document.getElementById('text').value/document.getElementById('latitude').value/document.getElementById('longitude').value">Post</button>

    <!--<a href="seeposts">
        
    </a>-->
</div>