<!DOCTYPE html>

<style>
    .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
}
</style>

<!--marker png: https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Roundel_of_Turkey.svg/120px-Roundel_of_Turkey.svg.png-->
<!--map jpg: https://upload.wikimedia.org/wikipedia/commons/8/83/Equirectangular_projection_SW.jpg-->

<body> <!--position guide: 8.5 px = 1 degree. prime meridian: 1531 px, equator: 765 px-->
    <form method="/POST">
        <div class="parent" width="3087" height="1554">
            <div class="image1">
                <img src="{{ map }}" width="3087" height="1554">
                <img id="testimage" class="image2" style="top: 400px; left: 200px;" src="{{ marker }}" width="24" height="24">
                <p id="testpara">deez</p>

                {% if markers %}

                    <script>
                        let x = Math.floor(Math.random() * 3062);
                        let y = Math.floor(Math.random() * 1529);

                        let element = document.getElementById("testimage");
                        console.log(element.innerHTML);

                        let para = document.getElementById("testpara");
                        console.log(para.innerHTML);
                    </script>

                {% endif %}
            </div>
        </div>
    </form>
</body>