<!DOCTYPE html>

<style>
    .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
}
</style>

<!--marker png: https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Roundel_of_Turkey.svg/120px-Roundel_of_Turkey.svg.png-->
<!--map jpg: https://upload.wikimedia.org/wikipedia/commons/8/83/Equirectangular_projection_SW.jpg-->

<body> <!--position guide: 8.5 px = 1 degree. prime meridian: 1531 px, equator: 765 px-->
    <form method="/POST">
        <div class="parent" width="3087" height="1554">
            <div id="image1" class="image1">
                <img src="{{ map }}" width="3087" height="1554">

                {% if markers %}

                    <script>
                        let x = Math.floor(Math.random() * 400);
                        let y = Math.floor(Math.random() * 400);

                        const newimage = document.createElement("img");

                        newimage.className = "image2";
                        newimage.style = "top: " + x.toString() + "px; left: " + y.toString() + "px;";
                        newimage.src = "{{ marker }}";
                        newimage.width = "24";
                        newimage.height = "24";
                        
                        console.log(newimage.className);
                        console.log(newimage.style);
                        console.log(newimage.src);
                        console.log(newimage.width);
                        console.log(newimage.height);

                        document.getElementById("image1").appendChild(newimage);

                        console.log(newimage.parentElement.class);
                    </script>

                {% endif %}
            </div>
        </div>
    </form>
</body>